<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/adminPanel.css">
</head>

<body>
    {{!-- {{>navbar}} --}}

    <div class="adminLoginBox">


        <div class="staff-control">

            <div class="AdminHeading">
                <h1>Welcome Admin</h1>
            </div>
            <div class="buttonsText">
                <p>For Staff Attandance</p>
                <a href="staffAttandance">
                    <button>Staff Attandance</button>
                </a>
            </div>

            <div class="buttonsText">
                <p>For Child Attandance</p>
                <a href="childAttandance">
                    <button>Child Attandance</button>
                </a>
            </div>

            <div class="buttonsText">
                <p>For Daily Expenses</p>
                <a href="expensesRecord">
                    <button>Expenses Record</button>
                </a>
            </div>
        </div>

        <div class="new-forms">
            <div class="AdminHeading">
                <h1>Forms</h1>
            </div>
            <div class="buttonsText">
                <p>For Consultation Form</p>
                <a href="consultationForm">
                    <button>Consultation Form</button>
                </a>
            </div>

            {{!-- <div class="buttonsText">
                <p>For Daily Entry Form</p>
                <a href="dailyEntryForm">
                    <button>Daily Entry Form</button>
                </a>
            </div> --}}

            <div class="buttonsText">
                <p>For New Admission</p>
                <a href="newAdmissionForm">
                    <button>New Admission</button>
                </a>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="../jq/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

</html>