<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
    {{!-- {{>navbar}} --}}

    <div class="adminLoginBox">
        <form action="/changePassword" method="post">
         {{#each result}}
            <div id="username">
                {{this.securityQuestion}}?
            </div>
             {{/each}}
            <div id="password">
                <input type = "text" class = "form-element" placeholder = "Answer" name = "answer"> 
            </div>
            <div id = submit>
                <input type = "submit" placeholder = "Submit">
            </div>
        </form>
    </div>
</body>
<script type="text/javascript" src = "../jq/jquery.js"></script>
    <script type="text/javascript" src = "../js/bootstrap.js"></script>
</html>