<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/staffAttandance.css">
</head>

<body>
    {{!-- {{>navbar}} --}}

    <div class="staff-attendBox">
        <h1>Expenses</h1>
        <form action="/addExpenses" method="post">
        <input type="text" class="form-control"   style = "border: 2px solid black" placeholder="purpose" name = "purpose">
        <input type="number" class="form-control"  style = "border: 2px solid black" placeholder = "Cost" name = "cost">
            <input type="date" id="date" name="date">
            <input type="submit" value="mark">

        </form>
    </div>
</body>



<script type="text/javascript" src="../jq/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script>
    {
        {
            !--$(document).ready(function () {
                $("#button").click(function () {
                    if ($("#cars").val() != "empty") {
                        var region = $("#cars").val();
                    }
                });
            }); --}
    }
</script>

</html>