<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>

<style type="text/css">
</style>

<body>

  {{>navbar}}
      <div class = "Container text-light" id = "desc1">
        <img src = "images/image1.jpeg" width = "300">
        <p>Autism spectrum disorder (ASD) is a developmental disability caused by differences in the brain. People with ASD often have problems with social communication and interaction, and restricted or repetitive behaviors or interests. People with ASD may also have different ways of learning, moving, or paying attention.</p>
      </div>

      <div class = "Container text-light" id = "desc2">
        
        <p>The 10 most common symptoms of autism are:
          Developmental learning delays
          Over or under sensitivity to lights, sounds, touch, or tastes
          Difficulty communicating
          Repetitive movements and behaviors
          Difficulty in social situations
          Trouble with transitions
          Attachment to unusual interests
          Difficulty understanding emotions
          Recurring sleep problems
          Insufficient impulse control</p>
          <img src="images/image2.jpeg" alt="" width="300">
      </div>

    <script type="text/javascript" src = "../jq/jquery.js"></script>
    <script type="text/javascript" src = "../js/bootstrap.js"></script>
</body>
</html>