<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/consultationForm.css">
</head>

<body>
    {{!-- {{>navbar}} --}}

    <div class="forms">

        <div class="form-body">
            <div class = "formHeading">
                <h3>Consultation Form </h3>
            </div>
            <form action="">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Unique Id</span>
                    <input type="number" class="form-control" placeholder="UniqueID" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" placeholder="Name" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="number" class="form-control" placeholder="Age" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Contact &nbsp;&nbsp;</span>
                    <input type="tel" class="form-control" placeholder="Contact Number" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Address &nbsp;</span>
                    <input type="text" class="form-control" placeholder="Address" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Reference</span>
                    <input type="text" class="form-control" placeholder="Reference" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class = "submitButton">
                    <input type="submit" value = "Submit">
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="../jq/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

</html>