<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
    {{!-- {{>navbar}} --}}

    <div class="adminLoginBox">
        <form action="/newPassword" method="post">
            <div id="username">
                <input type = "password" class = "form-element" placeholder = "new Password" name = "answer"> 
            </div>
            <div id="password">
                <input type = "password" class = "form-element" placeholder = "Confirm New Password" name = "answer1"> 
            </div>
            <div id = submit>
                <input type = "submit" value = "Change">
            </div>
        </form>
    </div>
</body>
<script type="text/javascript" src = "../jq/jquery.js"></script>
    <script type="text/javascript" src = "../js/bootstrap.js"></script>
</html>