<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/promoterPanel.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    {{>navbar}}

    <div class="container">
      <div class="adminLoginBox">


        <div class="staff-control">

            <div class="AdminHeading">
                <h1>Welcome Promoter</h1>
            </div>
            <div class="buttonsText">

                <a href="staffInfo">
                    <button>All Staff Information</button>
                </a>
            </div>

            <div class="buttonsText">

                <a href="clientList">
                    <button>All Client Information</button>
                </a>
            </div>

            <div class="buttonsText">

                <a href="dailyExpenses">
                    <button>Expenses Record</button>
                </a>
            </div>
        </div>

        <div class="new-forms">
            <div class="AdminHeading">
                <h1>Actions</h1>
            </div>
            <div class="buttonsText">
                <a href="seeStaffAttandance">
                    <button>Staff Attandance</button>
                </a>
            </div>

            <div class="buttonsText">

                <a href="seeClientAttandance">
                    <button>Client Attandance</button>
                </a>
            </div>
            <div class="buttonsText">

                <a href="addStaff">
                    <button>Add Staff Member</button>
                </a>
            </div>
            <div class="buttonsText">

                <a href="changePassword">
                    <button>Change Password</button>
                </a>
            </div>
        </div>

    </div>
    </div>
</body>
<script type="text/javascript" src="../jq/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

</html>