// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$theme-color : #0037ff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
    z-index: 1;

    &:after {
        content: '';
        position: fixed;
        inset: 0;
        background-color: $theme-color;
        width: 60%;
        height: 100vh;
        clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
        z-index: —1;
    }
}

nav {
    text-shadow: 2px 0 #000000, -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
        1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
    // border: 1px solid black;
    z-index: 1;
    font-size: 17px;
}

.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
}

.forms {
    z-index: 1;
    margin-left: 20px;
    margin: 25px auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 10px 50px -30px black;
    width: 400px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

    .formHeading {
        text-align: center;
        margin-bottom: 30px;
    }

    .boxes {
        margin: 40px;
    }

    input {
        margin: 0px 10px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .submitButton{
        text-align: center;
        input{
            padding: 5px 10px;
            border-radius: 50px;
            background: $theme-color;
            color: white;
            border: none;
            cursor : pointer;
            font-weight: 600;
            font-size: 18px;
            transition: all .2s;

            &:active{
                scale: .95;
                background-color: darken($theme-color, 10%)
            }
        }
    }
}