// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$theme-color : #72c4ff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    &:after {
        content: '';
        position: fixed;
        inset: 0;
        background-color: $theme-color;
        width: 60%;
        height: 100vh;
        clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
        z-index: —1;
    }
}
nav{
    text-shadow: 2px 0 #000000, -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
             1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
    // border: 1px solid black;
    z-index: 1;
    font-size: 17px;
}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.container{
    position: relative;
    z-index: 1;
    
    .adminLoginBox{
        z-index: 1;
        margin: 25px auto;
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0 10px 50px -30px black;
        border-radius: 30px;
        overflow: hidden;
        display : grid;
        grid-template-columns: auto auto;
        height: 500px;
    
        .staff-control{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            .AdminHeading{
                margin-top: 5px;
                margin-bottom: 10px;
                width: 100%;
                text-align: center;
            }
            margin: 10px;
            button{
                background-color: $theme-color;
                color: white;
                border: none;
                padding: 20px 40px;
                border-radius: 50px;
                cursor : pointer;
                font-weight: 600;
                font-size: 18px;
                transition: all .2s;
    
                &:active{
                    scale: .95;
                    background-color: darken($theme-color, 10%)
                }
            }
    
            .buttonsText{
                margin-top: 20px;
                width: 53%;
                // border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
    
                p{
                    margin: 5px;
                }
            }
        }
    
        .new-forms{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            .AdminHeading{
                margin-top: 5px;
                margin-bottom: 10px;
                width: 50%;
                text-align: center;
            }
            margin: 10px;
            button{
                background-color: $theme-color;
                color: white;
                border: none;
                padding: 20px 40px;
                border-radius: 50px;
                cursor : pointer;
                font-weight: 600;
                font-size: 18px;
                transition: all .2s;
    
                &:active{
                    scale: .95;
                    background-color: darken($theme-color, 10%)
                }
            }
    
            .buttonsText{
                margin-top: 30px;
                width: 53%;
                // border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
    
                p{
                    margin: 5px;
                }
            }
        }
    
        
    }

}